In [1]:
import pandas as pd
import seaborn as sns
import BabsonAnalytics
import numpy as np
%matplotlib inline

In [28]:
df = pd.read_csv('../data/ToyotaCorolla.csv')

df.Fuel_Type = df.Fuel_Type.astype("category")
df.Automatic = df.Automatic.astype("category")
df.Met_Color = df.Met_Color.astype("category")

df = BabsonAnalytics.makeDummies(df,forRegression=True)

df.head()

,Price,Age,KM,HP,cc,Doors,Weight,Fuel_Type_Diesel,Fuel_Type_Petrol,Met_Color_1,Automatic_1
0,13500,23,46986,90,2000,3,1165,1.0,0.0,1.0,0.0
1,13750,23,72937,90,2000,3,1165,1.0,0.0,1.0,0.0
2,13950,24,41711,90,2000,3,1165,1.0,0.0,1.0,0.0
3,14950,26,48000,90,2000,3,1165,1.0,0.0,0.0,0.0
4,13750,30,38500,90,2000,3,1170,1.0,0.0,0.0,0.0

In [23]:
train = df.sample(frac=0.8) # sample 80% of the rows from df
test = df.drop(train.index) # drop all that are now in training

trainTarget = train.pop('Price') # pop out the target from df...
testTarget = test.pop('Price') # ...we'll need these separately later

In [24]:
from sklearn import linear_model 
model = linear_model.LinearRegression(fit_intercept=True) # build an empty linear model
model.fit(train,trainTarget) # fit the model to the training data
BabsonAnalytics.inspectLinearModel(train,trainTarget,model) # inspect the model

                  Estimate  p-value
Predictor
(Intercept)       -3062.53    0.031
Age                -122.68    0.000
KM                   -0.02    0.000
HP                   62.72    0.000
cc                   -4.22    0.000
Doors                15.72    0.730
Weight               19.13    0.000
Fuel_Type_Diesel   3571.24    0.000
Fuel_Type_Petrol   1119.12    0.004
Met_Color_1          42.38    0.621
Automatic_1         319.23    0.069

In [31]:
predictions = model.predict(test)

error = testTarget - predictions

rmse = np.sqrt(np.mean((error)**2))
mape = np.mean(np.abs(error/testTarget))
print('RMSE: ', rmse)
print('MAPE: ', mape)

RMSE:  1153.8666202
MAPE:  0.09014615261783078