# Introduction to Pandas
## Nathan Karst

## What is Pandas?

* Pandas is a data management library for Python. 


* It allows us to load, manipulate, and save large arrays of data.

In [1]:
import pandas as pd

## Why Pandas?

* Python and Pandas are free, cross platform open source. 


* The Python data analytics ecosystem quickly growing into an industry standard.

## Loading data in Pandas

* Pandas can handle a lot of input file types, but in this course, we'll be using comma-separated value files (CSVs). 


* This file format doesn't require that you have Excel or any other particular application installed. Reading in files is pretty straightforward.

In [2]:
df = pd.read_csv('../data/BostonHousing.csv')
df.head() # displays the first 5 rows of data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,1

* Here, "df" is short for "data frame". 


* By convention, each column in the data frame represents a particular variable, and each row in the data frame represents an observation across each of the variables.

# Data dictionaries

* If you've collected the data yourself, you'll be quite familiar with what each field represents. 


* But if you're using data that's been shared with you, the meaning of individual fields might be impossible to interpret just from their names. (What does CHAS mean, anyway?!) 


* To overcome this, datasets are often distributed together with a so-called *data dictionary* which spells out the precise meaning of each field. 


* (The data dictionary below [with minor edits] is from the documentation of the R programming language.)

## Housing Values in Suburbs of Boston

### Description

The Boston data frame has 506 rows and 14 columns.

This data frame contains the following columns:

* crim: per capita crime rate by town.

* zn: proportion of residential land zoned for lots over 25,000 sq.ft.

* indus: proportion of non-retail business acres per town.

* chas: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).

* nox: nitrogen oxides concentration (parts per 10 million).

* rm: average number of rooms per dwelling.

* age: proportion of owner-occupied units built prior to 1940.

* dis: weighted mean of distances to five Boston employment centres.

* rad: index of accessibility to radial highways.

* tax: full-value property-tax rate per \$10,000.

* ptratio: pupil-teacher ratio by town.

* lstat: lower status of the population (percent).

* medv: median value of owner-occupied homes in \$1000s.

* cat. medv: median value dummy variable (= 1 if medv > 30)

Source

Harrison, D. and Rubinfeld, D.L. (1978) Hedonic prices and the demand for clean air. J. Environ. Economics and Management 5, 81â€“102.

Belsley D.A., Kuh, E. and Welsch, R.E. (1980) Regression Diagnostics. Identifying Influential Data and Sources of Collinearity. New York: Wiley.

# Interacting with data frames

* We often want to interact with specific subsets of a data frame, and to do this, we first need to be able to *access* particular subsets of the data frame. 


* This operation is commonly known as *slicing*, as we're in some sense just cutting out the data we want. 


* In some sense, columns are the fundamental units of any data frame, and so there are many ways to access them. 


* For instance, we can access each by name. (Notice that this output is super long!)

In [3]:
df['CRIM'] # access the column titled 'CRIM'

0       0.00632
1       0.02731
2       0.02729
3       0.03237
4       0.06905
5       0.02985
6       0.08829
7       0.14455
8       0.21124
9       0.17004
10      0.22489
11      0.11747
12      0.09378
13      0.62976
14      0.63796
15      0.62739
16      1.05393
17      0.78420
18      0.80271
19      0.72580
20      1.25179
21      0.85204
22      1.23247
23      0.98843
24      0.75026
25      0.84054
26      0.67191
27      0.95577
28      0.77299
29      1.00245
         ...
476     4.87141
477    15.02340
478    10.23300
479    14.33370
480     5.82401
481     5.70818
482     5.73116
483     2.81838
484     2.37857
485     3.67367
486     5.69175
487     4.83567
488     0.15086
489     0.18337
490     0.20746
491     0.10574
492     0.11132
493     0.17331
494     0.27957
495     0.17899
496     0.28960
497     0.26838
498     0.23912
499     0.17783
500     0.22438
501     0.06263
502     0.04527
503     0.06076
504     0.10959
505     0.04741
Name: CRIM, dtype: float64

# Slicing

* We can also access just some of the elements from any column. 

* When we're slicing rows and columns, the rows we want to slice always come first.

In [4]:
df.loc[0:5,'CRIM'] # rows 0 through 5 (inclusive) of the CRIM column

0    0.00632
1    0.02731
2    0.02729
3    0.03237
4    0.06905
5    0.02985
Name: CRIM, dtype: float64

In [5]:
df.loc[0:5,['CRIM','NOX']] # rows 0 through 5 (inclusive) of the CRIM and NOX columns

      CRIM    NOX
0  0.00632  0.538
1  0.02731  0.469
2  0.02729  0.469
3  0.03237  0.458
4  0.06905  0.458
5  0.02985  0.458

# Managing data

* It's often the case that the variables as they're loaded in aren't quite in the format we'd like. 


* For instance, if the variable CHAS is equal to 1, then the associated neighborhood is on the Charles River. 


* This is actually quite important: In the CHAS column, the 0s and 1s aren't actually numbers -- they're indicators!


* This is a general problem: any time we have categorical data represented by numbers (i.e., 1 for the first category, 2 for the second category, etc.), we need to be careful to convert.

# Managing data

* To make sure that we (and Python) don't get confused during the analytics process, let's manually change CHAS into a categorical, rather than numeric, variable.

In [6]:
df['CHAS'] = df['CHAS'].astype("category") 
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,1

# Managing data

* It doesn't appear that anything has changed! 


* But if we look at the types of each column, we can see that the altertion has been implemented.

In [7]:
df.dtypes

CRIM          float64
ZN            float64
INDUS         float64
CHAS         category
NOX           float64
RM            float64
AGE           float64
DIS           float64
RAD             int64
TAX             int64
PTRATIO       float64
LSTAT         float64
MEDV          float64
CAT. MEDV       int64
dtype: object

* Both float64 and int64 represent *numerical* variables. (Floats include decimals, while integers don't.)


* Both category and object represent *categorical* variables.

# Managing data

* We can also replace the values in a particular column with values of our choosing. 


* For instance, in the column CAT. MEDV: 
    * a value of 0 represents a neighborhood with lower than median value homes;
    * a value of 1 represents a neighborhood with higher than median value homes. 


* Let's give this column more descriptive values:

In [8]:
df['CAT. MEDV'].replace([0,1],["Low","High"],inplace=True) # replace 0 with Low and 1 with High directly in df
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,High

# Other Pandas functionality: descriptive statistics

* Pandas supplies many basic statistical tools. 


* For instance, we can easily get the descriptive statistics for each of the columns.

In [9]:
df.describe()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000

# Other Pandas functionality: descriptive statistics

* We can also get descriptive statistical information about individual columns:

In [10]:
df.CRIM.mean() # average of column

3.6135235573122535

In [11]:
df['CAT. MEDV'].mode() # most common value of column

0    Low
dtype: object

In [12]:
df.RAD.unique() # list of all the unique values in column

array([ 1,  2,  3,  5,  4,  8,  6,  7, 24])

# Other Pandas functionality: missing values

* Many predictive algorithms have trouble dealing with missing (null) values. 


* We can easily find out whether each column has any missing values.

In [13]:
missingValues = df.isnull().sum()
print(missingValues)

CRIM         0
ZN           0
INDUS        0
CHAS         0
NOX          0
RM           0
AGE          0
DIS          0
RAD          0
TAX          0
PTRATIO      0
LSTAT        0
MEDV         0
CAT. MEDV    0
dtype: int64

* So here missing values are not a concern. If they were, we could fill them with some particular value.

In [14]:
df.CRIM.fillna(0,inplace=True) # fill all missing values directly in place in CRIM column with 0

# Your turn

* Create a new notebook. 

* Load the data in ToyotaCorolla.csv.

* Using the data dictionary below, determine whether each variable currently has the correct type.

* In the Met_Color and Automatic columns, replace 0 with "No" and 1 with "Yes".

* Find the mean of Price and the mode of Fuel_Type.

## Data dictionary

* Price: Offer price in euros
* Age: Age in months
* KM: Number of kilometers the car has driven
* Fuel_Type: Fuel type (Petrol, Diesel, Compressed Natural Gas [CNG])
* HP: Horsepower
* Met_Color: Metallic color? (Yes = 1, No = 0)
* Automatic: Automatic? (Yes = 1, No = 0)
* cc: Cylinder volume in cubic centimeters
* Doors: Number of doors
* Weight: Weight in kilograms