In [21]:
import pandas as pd 
import seaborn as sns 
import numpy as np
%matplotlib inline

In [14]:
df = pd.read_csv('../data/forest_cover_type.csv')
df.Cover_Type.replace([1,2,3,4,5,6,7],['Spruce/Fir','Lodgepole','Ponderosa','Cottonwood/Willow','Aspen','Douglas','Krummholz'],inplace=True)
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,Aspen
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,Aspen
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,Lodgepole
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,Lodgepole
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,Aspen

In [22]:
ax = sns.factorplot(x='Elevation',y='Cover_Type',data=df,kind='violin')
ax.set(ylabel='Cover Type')

TypeError: 'function' object is not iterable